.buscador {
     background-color: transparent;
     padding: 0;
 }
 
 .buscador input[type="text"] {
     height: 3rem;
     font-size: 1.4rem;
     padding: 1rem;
     width: 100%;
     margin: 0;
 }